.bg{
  background: linear-gradient(#2C2C2C,#2F2F2F);
}
ion-input{
  font-size:0.9em;
}
.navbar-color{
  background-color:red
}
.color-white{
  color:white;
}
.custom-label{
  color:#727272;
  font-size:0.75em
}
button{
  text-transform:none
}
.btn-login{
  color:white;
  border-color:white;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:65px;
  padding-right:65px
}
.btn-login-app{
  width:40%;
  font-size:0.75em;
  border: white 2px solid;
  padding:15px
}
h5 { color:#727272;
  width:40%;
  font-size:0.75em;
  text-align:center;
  border-bottom: 1px solid #727272; 
  line-height:0.1em;
  margin:15px 0 20px;

} 
h5 span { 
  background-color:#2c2c2c; 
  padding:0 10px; 
}
hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}