<ion-header class ='nav-transparent'>
  <ion-navbar ></ion-navbar>
</ion-header>

<ion-content class ='bg'>
  <div align ='center'>
    <img src ='assets/imgs/movezlogo.png' style ='width:60%'>
    <button style ='background-color:#4267b2;text-transform:none' icon-start ion-button round small class ='btn-login-app' >
     <i class ='fab fa-facebook-f'  style ='width:25px'></i>Login with facebook
   </button>
   <button ion-button round small style ='background-color:#FE2E2E;text-transform:none' icon-start class ='btn-login-app'><i class ='fab fa-google-plus-g' style ='width:25px'></i>Login with Google</button>
   <h5><span>OR</span></h5>
   <div style ='width:80%'>
    <div *ngIf = "type == 'phone'">
      <ion-item no-lines style='background-color:#2d2d2d' >
        <ion-label><ion-icon name ='person' style ='color:white'></ion-icon></ion-label>
        <ion-select style ='color:white'>
          <span ></span><ion-option value="Philippines" selected="true" >+639</ion-option>
          <ion-option>+011</ion-option>
        </ion-select>
        <ion-input clearInput type ='number' style ='color:white' placeholder = 'Phone number'></ion-input>
      </ion-item>
    </div>
    <div *ngIf = "type =='email'">
      <ion-item no-lines style ='background-color:#2d2d2d'>
        <ion-label><ion-icon name ='person' style ='color:white'></ion-icon></ion-label>
        <ion-input type ='text' style ='color:white' placeholder ='Email Address'></ion-input>
      </ion-item>
    </div>
    <hr />
    <ion-item no-lines style ='background-color:#2d2d2d' >
      <ion-label><ion-icon item-left name ='lock' style ='color:white'></ion-icon></ion-label>
      <ion-input style ='color:white' id = 'password' placeholder = 'Password' type ='password'></ion-input>
      <button ion-button icon-only item-right clear id ='showpassword'>
        <ion-icon style ='font-size:0.05em' id ='eyes' item-right name ='eye' style ='color:white'></ion-icon>
      </button>
    </ion-item>

    <ion-grid>
      <ion-row >
        <ion-col item-left>
          <ion-item no-lines style ='background-color: #2d2d2d;padding:0px'>
            <ion-label style ='font-size:0.70em;margin-right:0px' class ='custom-label'>Remember password</ion-label>
            <ion-checkbox style ='margin-left:0px;margin-right:5px'></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col item-right>
          <ion-item  no-lines style ='padding:0px;background-color: #2d2d2d;' >
            <ion-label class ='custom-label' style ='text-align:right;font-size:0.7em'>
              Forgot password?
            </ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>
    <button ion-button round outline (click) = "gotoDashboard()"class ='btn-login'>LOGIN</button>
    <p style ='color:yellow;bottom:0;right:25%;left:25%;top:80%'>LOGIN AS PARTNER</p>
  </div>
</div>
</ion-content>