<!--
  Generated template for the InviteAndEarnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='dark-nav'>

  <ion-navbar>
    <ion-title>Invite and Earn</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class ='poly-bg'>
  <div align ='center' style ='padding:2%'>
    <h3 style ='font-weight:bold;margin-bottom:0px;font-size:5vw'>Invite Friends and Earn</h3>
    <h3 style ='font-weight:bold;margin-top:0px;font-size:5vw'>PHP 50</h3>
    <h3 style ='font-size:5vw'>Share your referral code</h3>
    <h3 style ='background-color:black;color:white;padding:10px;border-radius:25px;font-size:5vw'>144993</h3>
    <div style ='margin-bottom:75px'></div>
    <h3 style ='font-size:5vw'>Start inviting friends via</h3>
    <br/>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src ='assets/imgs/viber-icon.png'>
          <p style ='color:#2d2d2d'>Viber</p>
        </ion-col>
        <ion-col>
          <img src= 'assets/imgs/messenger-icon.png'>
          <p style ='color:#2d2d2d'>Messenger</p>
        </ion-col>
        <ion-col>
          <img src = 'assets/imgs/sms-icon.png'>
          <p style ='color:#2d2d2d'>SMS</p>
        </ion-col>
        <ion-col>
          <img src ='assets/imgs/email-icon.png'>
          <p style ='color:#2d2d2d'>Email</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
