<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='dark-nav'>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class ='poly-bg'>
  <div align ='center'>
    <img src ='assets/imgs/default-avatar.png' style ='width:20%'>
    <br/>
    <button ion-button round class ='btn-dark' style ='width:25%'>ACTIVE</button>
    <div style ='padding:15px;background-color:rgba(255,255,255,0.6);border-radius:3px'>
      <div class ='form-group'>
        <input type ='text' class ='form-control' style ='margin-bottom:5px;padding-left:20px' placeholder ='FIRST NAME'>
        <input type ='text' class ='form-control' style ='margin-bottom:5px;padding-left:20px' placeholder ='MIDDLE NAME/ INITIAL'>
        <input type ='text' class ='form-control' style ='margin-bottom:5px;padding-left:20px' placeholder ='FULL NAME'>
        <input type ='text' class ='form-control' style ='margin-bottom:5px;padding-left:20px' placeholder ='EMAIL'>
        <div class ='input-group'>
          <div class ='input-group-btn'>
            <select class ='form-control' >
             <option value="" selected disabled >+639</option>
           </select>
         </div>
         <input type ='number' class ='form-control' style ='margin-bottom:5px;padding-left:20px' placeholder ='PHONE NUMBER'>
       </div>
       <input type ='text' class ='form-control' style ='margin-bottom:5px;padding-left:20px' placeholder ='BIRTHDATE'>
     </div>
     <div class ='form-group'>
      <select class ='form-control' style ='margin-bottom:5px;padding-left:20px'  >
       <option value="" selected disabled>COUNTRY</option>
     </select>
     <select  class ='form-control' style ='margin-bottom:5px;padding-left:20px'  >
       <option value="" selected disabled>REGION</option>
     </select>
     <select type ='text' class ='form-control' style ='margin-bottom:5px;padding-left:20px'  >
       <option value="" selected disabled>CITY</option>
     </select>
     <input type ='text' class ='form-control' style ='margin-bottom:5px;padding-left:20px' placeholder ='UNIT/BLDG/BRGY'>
     <input type ='number' class ='form-control' style ='margin-bottom:5px;padding-left:20px' placeholder ='ZIP CODE'>
   </div>
   <div clas ='form-group'>
    <input type ='text' class ='form-control' style ='margin-bottom:5px;padding-left:20px' placeholder = 'PASSWORD'>
    <input type ='text' class ='form-control' style ='margin-bottom:5px;padding-left:20px' placeholder = 'RE-ENTER PASSWORD'>
  </div>
  <ion-grid>
   <ion-row>
    <ion-col width-50 style ='padding:0px'> <button ion-button style ='width:100%' style ='text-transform:none;background-color:white;color:#353535;margin:0px;font-size:3.3vw'><i class ='fab fa-google-plus-g' style ='width:23px'></i>Login with Google</button></ion-col>
    <ion-col width-50 style ='padding:0px'><button ion-button style ='width:100%' style ='text-transform:none;background-color:#4267b2;margin:0px;font-size:3.3vw'><i class ='fab fa-facebook-f' style ='width:23px'></i>Login with Facebook</button></ion-col>
  </ion-row>
</ion-grid>
</div>
<button ion-button round style ='background-color:#B5F100;color:#2d2d2d;font-size:1.25em;padding:20px'>Save</button>   
</div>
</ion-content>
