<ion-content class ='bg' align ='center'>
  <img src ='assets/imgs/movezlogo.png'  style ='width:65%'>
  <button ion-button round small style ='background-color:#4267b2;text-transform:none' class ='btn-login-app' >Signup with facebook</button>
  <button ion-button round small style ='background-color:#FE2E2E;text-transform:none' class ='btn-login-app'>Signup with Google</button>
  <div style ='width:80%;margin:auto'>

    <ion-item  style ='background-color: #2d2d2d'>
      <ion-label style ='padding-left:10px'></ion-label>
      <ion-input placeholder ='Email Address'></ion-input>      
    </ion-item>
    <ion-item  style ='background-color: #2d2d2d;border-color:white'>
      <ion-select style ='color:white'>
        <span ></span><ion-option value="Philippines" selected="true" >+639</ion-option>
        <ion-option>+011</ion-option>
      </ion-select>

      <ion-input placeholder = 'Phone number' type ='number' ></ion-input>      
    </ion-item>
    <ion-item  style ='background-color: #2d2d2d'>
      <ion-label style ='padding-left:10px'></ion-label>
      <ion-input type ='password' placeholder ='Password'></ion-input>
      <button ion-button icon-only item-right clear class ='showpassword'>
        <ion-icon style ='color:white; color:#727272' name ='eye' item-right></ion-icon> 
      </button>
    </ion-item>
    <ion-item  style ='background-color: #2d2d2d'>
      <ion-label style ='padding-left:10px'></ion-label>
      <ion-input type ='password' placeholder ='Re-Enter Password'></ion-input>
      <button  ion-button icon-only item-right clear class ='showpassword'>
        <ion-icon style ='color:white; color:#727272' name ='eye' item-right></ion-icon> 
      </button>      
    </ion-item>
    <ion-item  style ='background-color: #2d2d2d'>
      <ion-label style ='padding-left:10px'></ion-label>
      <ion-input placeholder ='First Name'></ion-input>      
    </ion-item>
    <ion-item  style ='background-color: #2d2d2d'>
      <ion-label style ='padding-left:10px'></ion-label>
      <ion-input placeholder ='Middle Name or M.I.'></ion-input>      
    </ion-item>
    <ion-item  style ='background-color: #2d2d2d'>
      <ion-label style ='padding-left:10px'></ion-label>
      <ion-input placeholder ='Last Name'></ion-input>      
    </ion-item>
    <ion-item  style ='background-color: #2d2d2d'>
      <ion-label style ='padding-left:10px'></ion-label>
      <ion-input placeholder ='Referral Code (Optional)'></ion-input>      
    </ion-item>
    <button ion-button round outline class ='btn-login' style ='margin-top:25px;'>CREATE ACCOUNT</button>
    <p style ='color:yellow;bottom:0;right:25%;left:25%;top:80%'>LOGIN AS PARTNER</p>
  </div>
</ion-content>