<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='dark-nav'>
  <ion-navbar #content >
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>NOTIFICATIONS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class ='poly-bg'>
  <div class ='input-group' style ='width:65%;margin:auto'>
    <input type ='text' class ='form-control' placeholder ='' >
    <div class ='input-group-append'>
      <span class ='input-group-text far fa-calendar-alt'></span>
    </div>
      <button class ='btn btn-primary' style ='margin-left:10px;background-color:#2d2d2d;border-radius:3px;border-color:#2d2d2d'>DELETE</button>
  </div>
  <div style ='margin-bottom:50px'></div>
  <table class ='table table-striped'>
    <tr style ='padding:20px'>
      <th><input type ='checkbox'></th>
      <th>Description</th>
      <th>Type</th>
    </tr>
    <tr>
      <td><input type ='checkbox'></td>
      <td style ='font-size:3.25vw;text-align:justified'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </td>
      <td><span class ='fas fa-exclamation-triangle' style ='color:#F1CC00'></span></td>
    </tr>
        <tr>
      <td><input type ='checkbox'></td>
      <td style ='font-size:3.25vw;text-align:justified'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </td>
      <td><span class ='fas fa-exclamation-circle' style ='color:#F1CC00'></span></td>
    </tr>
        <tr>
      <td><input type ='checkbox'></td>
      <td style ='font-size:3.25vw;text-align:justified'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </td>
      <td><span class ='fas fa-exclamation-triangle' style = 'color:#F1CC00'></span></td>
    </tr>
  </table>

</ion-content>
