<!--
  Generated template for the RatesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='dark-nav'>

  <ion-navbar>
    <ion-title>RATES</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class ='poly-bg'>
  <div class ='input-group' style ='padding:10px'>
    <div class ='input-group-btn' >
      <button class ='btn' style ='background:transparent'>
        <span class ='fas fa-building' style ='font-size:6vw;height:3vw'></span>
      </button>
    </div>
    <select class ='form-control' style="font-size:4vw;height:8vw;border-radius:5px">
      <optgroup style ='font-size:3vw'>
      <option value ='selected' disabled>Select City</option>
      <option value =''>Metro Manila</option>
      </optgroup>
    </select>
  </div>
  <div class ='card' style ='margin-bottom:20px;border-radius:10px'>
    <p style ='color:black;font-size:3.3vw' >
    <img src ='assets/imgs/assets-mobile/car-one.png' style ='width:25%;float:left;padding-bottom:20px'>
      <b style ='font-size:1.4em;color:#2D2D2D'>Standard Rate</b><br/>
      <span style ='text-color:gray;font-weight:300'>First 1km: </span>   <b style ='font-size:1.3em;color:#2D2D2D'>PHP 40</b> <span style ='text-color:gray;font-weight:300'>After 1km: </span><b style ='color:#2d2d2d'>PHP 15.75/km</b><br/>
      <b style ='color:#2d2d2d'>Extra Charges</b><br/>
      <span style ='color:#2d2d2d'>Ride time charges</span> <b>Php 1 per min</b><br/>
      <span style ='text-color:gray;font-weight:300'>First 1 min ride is free</span>
    </p>
  </div>
  <div class ='card' style ='margin-bottom:20px;border-radius:10px'>
    <p style ='color:black;font-size:3.3vw' >
    <img src ='assets/imgs/assets-mobile/car-two.png' style ='width:25%;float:left;padding-bottom:20px'>
      <b style ='font-size:1.4em;color:#333333'>Standard Rate</b><br/>
     <span style ='text-color:gray;font-weight:300'>First 1km: </span> <b style ='font-size:1.3em;color:#2D2D2D'>PHP 40</b> <span style ='text-coor:gray;font-weight:300'>After 1km:</span>  <b style ='color:#2d2d2d'>PHP 15.75/km</b><br/>
      <b style ='color:#2d2d2d'>Extra Charges</b><br/>
      <span style ='color:#2d2d2d'>Ride time charges</span> <b>Php 1 per min</b><br/>
      <span style ='text-color:gray;font-weight:300'>First 1 min ride is free</span>
    </p>
  </div>
  <div class ='card' style ='margin-bottom:20px;border-radius:10px'>
    <p style ='color:black;font-size:3.3vw' >
    <img src ='assets/imgs/assets-mobile/car-three.png' style ='width:25%;float:left;padding-bottom:20px'>
      <b style ='font-size:1.4em;color:#333333'>Standard Rate</b><br/>
      <span style ='text-color:gray;font-weight:300'>First 1km: </span> <b style ='font-size:1.3em;color:#2D2D2D'>PHP 40</b><span style ='text-coor:gray;font-weight:300'>After 1km:</span> <b style ='color:#2d2d2d'>PHP 15.75/km</b><br/>
      <b style ='color:#2d2d2d'>Extra Charges</b><br/>
      <span style ='color:#2d2d2d'>Ride time charges</span> <b>Php 1 per min</b><br/>
      <span style ='text-color:gray;font-weight:300'>First 1 min ride is free</span>
    </p>
  </div>
  <div class ='card' style ='margin-bottom:20px;border-radius:10px'>
    <p style ='color:black;font-size:3.3vw' >
    <img src ='assets/imgs/assets-mobile/car-four.png' style ='width:25%;float:left;padding-bottom:20px'>
      <b style ='font-size:1.4em;color:#2D2D2D'>Standard Rate</b><br/>
      <span style ='text-color:gray;font-weight:300'>First 1km: </span> <b style ='font-size:1.3em;color:#2D2D2D'>PHP 40</b> <span style ='text-coor:gray;font-weight:300'>After 1km:</span>  <b style ='color:#2d2d2d'>PHP 15.75/km</b><br/>
      <b style ='color:#2d2d2d'>Extra Charges</b><br/>
      <span style ='color:#2d2d2d'>Ride time charges</span> <b>Php 1 per min</b><br/>
      <span style ='text-color:gray;font-weight:300'>First 1 min ride is free</span>
    </p>
  </div>
</ion-content>
