<!--
  Generated template for the EmergencyContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='dark-nav'>

  <ion-navbar>
    <ion-title>Emergency contact</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class ='poly-bg'>
  <ion-item no-line style ='background-color: #2d2d2d;display:inline-block; '>
    <img src ='assets/imgs/car-police.png' style ='width:25%;filter:invert(100%);float:left;margin-right:10px'>
    <div class ='card'>
      <div class ='card-header'>
        <h3 style ='font-size:3vw'>CALL POLICE</h3>
      </div>
      <h1 style ='font-size:8vw;padding-left:10px'>911</h1>
    </div>
  </ion-item>
  <ion-item no-line style ='background-color: #2d2d2d;display:inline-block'>
    <img src= 'assets/imgs/car-firetruck.png' style ='width:25%;filter:invert(100%);float:left;margin-right:10px'>
    <div class ='card' >
      <div class ='card-header'>
       <h3 style ='font-size:3vw'>CALL FIRE SERVICE</h3>
     </div>
     <h1 style ='font-size:8vw;padding-left:10px'>911</h1>
   </div>
 </ion-item>
 <ion-item no-line style ='background-color: #2d2d2d;display:inline-block' >
  <img src ='assets/imgs/car-ambulance.png' style ='width:25%;filter:invert(100%);float:left;margin-right:10px'>
  <div class ='card' >
    <div class ='card-header'>
     <h3 style ='font-size:3vw'>CALL AMBULANCE</h3>
   </div>
   <h1 style ='font-size:8vw;padding-left:10px'>911</h1>
 </div>
</ion-item>

</ion-content>
