<!--
  Generated template for the TransactionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='dark-nav'>

  <ion-navbar>
    <ion-title>transaction</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
