<!--
  Generated template for the EnterCodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='nav-transparent'>

  <ion-navbar >
  </ion-navbar>

</ion-header>


<ion-content class ='bg'>
  <div style ='width:75%;margin:auto' align ='center'>
   <img src ='assets/imgs/movezlogo.png' >
   <p>Enter the code that was sent to your phone number to verify your account</p>
   <div class ='input-group' style ='margin-bottom:15px'>
    <input class ='pin-input form-control' maxlength = '1'/>
    <input class ='pin-input form-control' maxlength = '1'/>
    <input class ='pin-input form-control' maxlength = '1'/>
    <input class ='pin-input form-control' maxlength = '1'/>
    <input class ='pin-input form-control' maxlength = '1'/>
    <input class ='pin-input form-control' maxlength = '1'/>
   </div>
   <button ion-button round outline class ='btn-dark'>Enter</button>
   <p>Didn't get the code? <a style ='text-decoration:none; color: yellow; 'href ='#'>Resend the code</a></p>
 </div>
</ion-content>
