page-enter-code {

}
.pin-input{
    border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color:white;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
  font-size:1.25em;
}
input.pin-input:focus{
  background:transparent
}