page-login {

}
.bg-image{
  background-image: url(../assets/imgs/assets-mobile/Maserati_quattroportgreyinterior.jpg);
  background-size:cover;
}
.darken-image{
  background: rgba(0,0,0,0.7);
  width:100%;
  height:100%;
}