<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='nav-transparent'>

  <ion-navbar >
  </ion-navbar>

</ion-header>

 
<ion-content  class ='bg-image' >
<div class ='darken-image'>
    <div style ='width:65%;margin:auto' align ='center'>
      <img src ='assets/imgs/movezlogo.png' >
      <button ion-button icon-start round style ='background-color:#4267b2;text-transform:none;width:100%;font-size:0.85em' class ='btn-login-app' >
      <i class ='fab fa-facebook-f' style ='width:25px'></i>Login with Facebook</button>
      <button ion-button round icon-start style ='background-color:#FE2E2E;text-transform:none;width:100%;font-size:0.85em' class ='btn-login-app'><i class ='fab fa-google-plus-g' style ='width:25px'></i>Login with Google+</button>

      <button ion-button round outline style ='font-size:0.85em;background:transparent' (click) = "verifyEmail()" class ='btn-dark'>Login by Email</button>
      <button ion-button round outline style ='font-size:0.85em;background:transparent' (click) = "verifyPhone()" class ='btn-dark'>Login by Phone Number</button>
    </div>
  </div>
</ion-content>

