<ion-content class ='bg'>
  <div style ='width:75%;margin:auto' align ='center'>
        <img src ='assets/imgs/movezlogo.png' >
    <p>Welcome to MOVEZ!</p>
    <h2>Verify your account</h2>
    <button ion-button round outline (click) = "resendPage()"class ='btn-dark'>Verify by Email</button>
    <button ion-button round outline (click) ="enterCodePage()" class ='btn-dark'>Verify by Phone Number</button>
  </div>
</ion-content>