<!--
  Generated template for the AboutUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='dark-nav'>

  <ion-navbar>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class ='poly-bg'>
  <div align ='center' style ='margin-top:150px' >
    <p style ='color:#2d2d2d'>Powered by: MOVEZ</p>
    <p style ='color:#2d2d2d'>Version:1.00</p>
    <div style ='margin-bottom:150px'></div>
      <h1 style ='color:#2d2d2d;font-weight:200'>For more information kindly visit</h1>
      <h1 style ='color:blue;font-weight:bold'>www.movezcars.com</h1>
  </div>
</ion-content>
