<ion-menu [content] ='content' >
  <!-- click functions are located in app.components.ts -->
  <ion-content style ='overflow:hidden'>
    <ion-list class ='dark-menu' no-lines>
      <div align ='center' style ='padding:10px'>
        <img src ='assets/imgs/default-avatar.png' style ='width:25%;height:25%'>
        <h4 class ='name-header' (click) = "gotoProfile()" >Carlo A. Reyes</h4>
        <button ion-button style ='background-color: #FFC600;' >P 2,012.75</button>
      </div>
      <button ion-item  ><i style ='padding-right:15px;text-align:left'class ='fa fa-edit'></i>Book my ride</button>
      <button ion-item  (click) = "gotoEditProfile()"><i style ='padding-right:15px;text-align:left;width:33px'class ='fas fa-user-circle'></i>Edit profile</button>
      <button ion-item ><i style ='padding-right:15px;text-align:left;width:33px'class ='far fa-list-alt'></i>Trip history</button>
      <button ion-item ><i style ='padding-right:15px;text-align:left;width:33px'class ='far fa-envelope-open'></i>Movez Credit</button>
      <button ion-item  (click) = "gotoInviteAndEarn()"><i style ='padding-right:15px;text-align:left;width:33px'class ='fas fa-coins'></i>Invite & Earn</button>
      <button ion-item  (click) = "gotoTransaction()"><i style ='padding-right:15px;width:33px'class ='fas fa-wallet'></i>Transaction History</button>
      <button ion-item  (click) = "gotoRates()"><i style ='padding-right:15px;width:33px'class ='fas fa-car'></i>Rate</button>
      <button ion-item  (click) = "gotoEmergency()"><i style ='padding-right:15px;width:33px'class ='fas fa-broadcast-tower'></i>Emergency Contact</button>
      <button ion-item  (click) = "gotoReportIssues()"><i style ='padding-right:15px;width:33px'class ='fas fa-exclamation-triangle'></i>Report Issues</button>
      <button ion-item  (click) = "gotoNewsAndPromos()"><i style ='padding-right:15px;width:33px'class ='fas fa-cog'></i>News & Promos</button>
      <button ion-item  (click) = "gotoNotif()"><i style ='padding-right:15px;width:33px'class ='fa fa-bell'></i>Notifications</button>
      <button ion-item  (click) = "gotoAbout()"><i style ='padding-right:15px;width:33px'class ='fas fa-exclamation-circle'></i>About us</button>
      <button ion-item  (click) = "gotoHelpAndSupport()"><i style ='padding-right:15px;width:33px'class ='far fa-question-circle'></i>Help and Support</button>
      <button ion-item  (click) = "gotoNotif()"><i style ='padding-right:15px;width:33px'class ='fas fa-sign-out-alt'></i>Logout</button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
