<ion-header class ='nav-transparent'>
  <ion-navbar  style ='background-color:none'></ion-navbar>
</ion-header>
<ion-content class ='bg'>
  <div style ='width:75%;margin:auto' align ='center'>
        <img src ='assets/imgs/movezlogo.png' >
    <p>An email was sent to your email address with a link to verify your account. Follow the instructions to the link to complete your signup.</p>
    <button ion-button round outline class= 'btn-dark' style ='margin-top:50px'>Resend Link</button>
  </div>
</ion-content>