page-resend-email {

}
.nav-transparent {
  .toolbar {
    position: absolute;

    .toolbar-background {
      background: transparent;
    }
    .toolbar-title {
      color: white;
    }
    .button-inner{
    color:white
    }
  }
}