<!--
  Generated template for the HelpAndSupportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class= 'dark-nav'>

  <ion-navbar>
    <ion-title>HELP AND SUPPORT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class ='poly-bg'>
  <div align ='center'>
    <ion-grid style ='width:90%'>
      <ion-row>
        <ion-col width-50>
          <button ion-button round style ='background-color:#2d2d2d' full><span class ='fas fa-phone' style ='margin-right:10px;transform:rotate(90deg);'></span>HOTLINE</button>
        </ion-col>
        <ion-col width-50>
          <button ion-button round style ='background-color:#2d2d2d' full><span class ='far fa-comment-alt' style ='margin-right:10px'></span>CHAT</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class ='input-group'>
      <input type ='text' class ='form-control'>
      <button style ='background-color:#FFC600;color:white'><i class ='fas fa-search'></i>Search</button> 
    </div>
    <h1 style ='font-size:1.3em'>Frequently Asked Questions</h1>
    <p style ='color:black'>Lorem ipsum dolor sit amet?</p>
    <p style ='color:black'>Lorem ipsum dolor sit amet?</p>
    <p style ='color:black'>Lorem ipsum dolor sit amet?</p>
    <p style ='color:black'>Lorem ipsum dolor sit amet?</p>
    <p style ='color:black'>Lorem ipsum dolor sit amet?</p>
  </div>
</ion-content>
