<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header class ='dark-nav'>
  <ion-navbar #content >
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>PROFILE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class ='poly-bg'>
  <div  align ='center' style ='padding:5px'>
    <img src ='assets/imgs/default-avatar.png' style ='width:20%'><br/>
    <button ion-button round class ='btn-dark' style='width:25%'>ACTIVE</button>
    <div style ='padding:5px; background-color:rgba(255,255,255,0.4); border-radius:3px'>
      <table style ='margin: 0px 20px 20px 0px'>
        <tr>
          <td style ='text-align:left' class ='profile-td'>
            FULL NAME:
          </td>
          <td style ='text-align:left;padding-left:40px' class ='profile-td'>
            Carlo A. Reyes
          </td>
        </tr>
        <tr>
          <td style ='text-align:left' class ='profile-td'>
            EMAIL:
          </td>
          <td style ='text-align:left;;padding-left:40px' class ='profile-td'>
            carloreyes@gmail.com
          </td>
        </tr>
        <tr>
          <td style ='text-align:left' class ='profile-td'>
            PHONE NUMBER:
          </td>
          <td style ='text-align:left;padding-left:40px' class ='profile-td'>
            <b>+639</b>350987234
          </td>
        </tr>
        <tr>
          <td style ='text-align:left' class ='profile-td'>
            BIRTHDATE:
          </td>
          <td style ='text-align:left;padding-left:40px' class ='profile-td'>
            <b>2/21/1990</b>
          </td>
        </tr>
        <div style ='margin-top:25px'></div>
        <tr >
          <td style ='text-align:left' class ='profile-td'>
            COUNTRY:
          </td>
          <td style ='text-align:left;padding-left:40px' class ='profile-td'>
            Philippines
          </td>
        </tr>
        <tr>
          <td style ='text-align:left' class ='profile-td'>
            REGION:
          </td>
          <td style ='text-align:left;;padding-left:40px' class ='profile-td'>
            NCR
          </td>
        </tr>
        <tr>
          <td style ='text-align:left' class ='profile-td'>
            CITY:
          </td>
          <td style ='text-align:left;padding-left:40px' class ='profile-td'>
            Pasig
          </td>
        </tr>
        <tr>
          <td style ='text-align:left' class ='profile-td'>
            UNIT/BLDG/BRGY:
          </td>
          <td style ='text-align:left;padding-left:40px' class ='profile-td'>
            <b>Rosario</b>
          </td>
        </tr>
      </table>
      <ion-grid>
       <ion-row>
        <ion-col width-50 style ='padding:0px'> <button ion-button style ='width:100%' style ='text-transform:none;background-color:white;color:#353535;margin:0px;font-size:3.3vw'><i class ='fab fa-google-plus-g' style ='width:23px'></i>Login with Google</button></ion-col>
        <ion-col width-50 style ='padding:0px'><button ion-button style ='width:100%' style ='text-transform:none;background-color:#4267b2;margin:0px;font-size:3.3vw'><i class ='fab fa-facebook-f' style ='width:23px'></i>Login with Facebook</button></ion-col>
      </ion-row>
    </ion-grid>
  </div>   
  <button ion-button round style ='background-color:#B5F100;color:#2d2d2d;font-size:4vw;padding:20px'>Edit profile</button>
</div>
</ion-content>
