page-profile {

}
.btn-dark{
  background-color:#2d2d2d;
}
.profile-td{
  font-size:3.8vw;
  padding-bottom:5px;
  padding-top:5px
}
.poly-bg{
  background-image: url(../assets/imgs/poly-bg.jpg);
  background-size:cover
}