<!--
  Generated template for the NewsAndPromosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='dark-nav'>
  <ion-navbar >
  <ion-title>NEWS AND PROMO'S</ion-title>
</ion-navbar>
</ion-header>
<ion-content padding class ='poly-bg'>
  <ion-item no-line style ='display:inline-block'>
    <img src ='assets/imgs/env-circle.png' style ='width:15%;float:left;margin-right:10px' >
    <h1 style ='font-size:1.15em;font-weight:bold;color:#313131'>PROMO CODE: MOVEZ50</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do eiusmod tempor incididunt ut labore et</p>
     <span class ='far fa-trash-alt' style ='position:absolute;top:5%;right:2%'></span>
  </ion-item>
   <ion-item no-line style ='display:inline-block'>
    <img src ='assets/imgs/env-circle.png' style ='width:15%;float:left;margin-right:10px' >
    <h1 style ='font-size:1.15em;font-weight:bold;color:#313131'>APP UPDATE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do eiusmod tempor incididunt ut labore et</p>
     <span class ='far fa-trash-alt' style ='position:absolute;top:5%;right:2%'></span>
  </ion-item>
   <ion-item no-line style ='display:inline-block'>
    <img src ='assets/imgs/env-circle.png' style ='width:15%;float:left;margin-right:10px' >
    <h1 style ='font-size:1.15em;font-weight:bold;color:#313131'>APP UPDATE</h1>
    <p style ='font-weight:100'>Lorem ipsum dolor sit amet, consectetur adipscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <span class ='far fa-trash-alt' style ='position:absolute;top:5%;right:2%'></span>
  </ion-item>
</ion-content>
