<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class ='dark-nav'>
  <ion-navbar >
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu' style ='color:white'></ion-icon>
    </button>
    <ion-title>Juan Dela Cruz</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
</ion-content>
