.dark-menu{
  color:white;
  background-color:#161616;
  height:100%;
}
.dark-menu button{
  background-color:#161616;
  color:white;
}
.name-header{
  font-size:1.25em
}
.btn-yellow{
  background-color:yellow;
}
.dark-nav{
  .toolbar-background{
    background-color:black
  }
  .toolbar-title{
    color:white;
    position: absolute;
    font-size:1.15em;
    width:100%;
    text-align:center;
    right:25px;
  }
  ion-icon{
    color:white;
  }
}