<!--
  Generated template for the ReportIssuesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class ='dark-nav'>

  <ion-navbar>
    <ion-title>Report Issues</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class ='poly-bg'>
  <div class ='form-group'>
    <input type ='text' class ='form-control' name ='tripID' style ='font-size:1.25em;border: 2px solid black' placeholder = 'Enter trip ID'>
  </div>
  <div class ='form-group'>
    <textarea placeholder ='Enter report issue'   rows = "10" cols = "20"  class ='form-control' style ='resize:none;font-size:1.25em;border: 2px solid black'></textarea>
  </div>
  <div class ='form-group' align ='center' style ='margin-bottom:50px'>
    <input type ='submit' name ='submit' value = 'SUBMIT' class ='btn btn-report-issues' >
  </div>
  <div align ='center'>
    <h5><span style ='background-color:#E4E4E4;font-size:1.75em'>OR</span></h5>
  </div>
  <div align ='center'>
    <h2 style ='color:#2d2d2d; font-weight:200'><img src ='assets/imgs/movez-chat-icon.png'>Chat now</h2>
  </div>
</ion-content>
