page-report-issues {

}
.btn-report-issues{
  color:black;
  background-color:#FFD200;
  margin:auto;
  border-radius:20px;
  padding-left:25px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:1.5em
}